<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.treasurehouse">

    <!-- 系统相关权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 消息推送 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 百度定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--第三方登录-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.zizoy.treasurehouse.api.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name">

        <!-- 7.0系统权限相关配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.treasurehouse.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 软件更新服务 -->
        <service android:name="com.zizoy.treasurehouse.service.UpdateService" />

        <!-- 百度地图相关配置 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter android:priority="1000">
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AL4KvdqY1hmlxa4y2ZEZxIfD3xFGrMlX" />
        <!--android:value="GG0t5o9f90KS6RO0emOxzKCZBQNpnZVR" />-->

        <!-- 程序欢迎界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 程序主界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 程序信息搜索界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 程序展示列表界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.ShowTypeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 程序展示详情界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.ShowDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 程序图片展示界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.ImagePagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 程序个人中心界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.PersonalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 程序我的发布界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.MyAddActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 程序编辑信息界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.AddEditActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 程序城市选择界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.CityChoiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 程序我要发布界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.activity.ReleaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <!-- 程序选择拍照界面 -->
        <activity
            android:name="com.zizoy.treasurehouse.takephoto.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- ShareSDK登录相关 -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1a3977a5b8676" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="34e34f3b350dbf1c75b085c8c1a17835" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>
</manifest>